<html>
    <head>
        <title>Car Rental Tamami</title>

        <script src="./js/angular.min.js"></script>
        <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css"/>

        <script src="./js/rental-app.js"></script>
        <script src="./js/daftar-controller.js"></script>
    </head>
    <body class="container" ng-app="RentalApp">
        <div class="jumbotron">
            <h1>Tamami's Car Rental</h1>
        </div>

        <div ng-controller="DaftarController">
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>NOPOL</th>
                    <th>MERK-TIPE</th>
                </thead>
                <tbody>
                    <tr ng-repeat="mobil in daftarMobil">
                        <td>{{ mobil.id }}</td>
                        <td>{{ mobil.nopol }}</td>
                        <td>{{ mobil.merkTipe }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>